:root {
    --ifpb-verde: #009739;     
    --ifpb-vermelho: #C00000;  
    --texto: #333333;
    --fundo: #f5f5f5;
    --branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    zoom: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fundo);
    color: var(--texto);
    line-height: 1.6;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: var(--ifpb-verde);
    padding: 15px 25px;
}

#logo {
    width: 90px;
    margin: 0;
    height: 100px;
}

.menu a {
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    margin: 0 12px;
    transition: 0.3s;
}

.menu a:hover {
    color: var(--ifpb-vermelho);
}

.titulo-pagina {
    text-align: center;
    padding: 20px 0;
    background: var(--branco);
    color: var(--texto);
    font-size: 1.8rem;
}



main {
    background-color: var(--branco);
    max-width: 900px;
    margin: 25px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

img, iframe, video {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
}

.area-video iframe {
    width: 100%;
    height: 250px;
}

@media (min-width: 680px) {
    .area-video iframe {
        height: 380px;
    }
}


.form-chamado {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    background: var(--branco);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-chamado input,
.form-chamado select,
.form-chamado textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.form-chamado button {
    background: gray;
    color: var(--branco);
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 8px;
    margin-top: 10px;
}

.form-chamado button:hover {
    background: #555;
}


.lista-servicos {
    background: var(--branco);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}

.servico {
    margin-bottom: 20px;
}

.servico h3 {
    color: var(--ifpb-verde);
    margin-bottom: 5px;
}


.galeria-simples {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.galeria-simples img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}


footer {
    background-color: var(--ifpb-verde);
    color: var(--branco);
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}


@media (max-width: 600px) {


.top-bar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

#logo {
        width: 110px;
        height: auto;
        margin: 0 auto; 
    }

.menu a {
        display: block;
        margin: 6px 0;
        font-size: 1rem;
    }
main {
        margin: 15px;
        padding: 18px;
    }
}


